@import url(common.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

#txt1{
  position:fixed;top:10px;right:10px;color: transparent;}

html{scroll-behavior: smooth;}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #BDBDBD;
}
::-webkit-scrollbar-button {
  display: none;
}

*{box-sizing: border-box;}
body{
  font-family: 'Pretendard';
  background-color: #FBFCFD;
}

/* HEADER=========================== */
nav{
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 3;
  opacity: 0;
  background-color: #FBFCFD;
}
nav.show{opacity: 1;}
.logo{
  font-size: 20px;
  padding: 15px 45px;
  font-weight: 400;
}
.gnb{
  display: flex;
  gap: 50px;
  padding: 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 300;
  transition: all .35s;
}
.gnb li a{
  display: flex;
  gap: 8px;
  position: relative;
}
.gnb li{
  color: #888;
}
.gnb li.active{
  color: #000;
}
.gnb li a span{
  position: absolute;
  left: -17px;
  top: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
  opacity: 0;
  transition: all .35s;
}
.gnb li.active a span{
  opacity: 1;
  width: 12px;
  height: 12px;
}

/* COVER============================= */
#cover{
  background: url(../image/cover.png)no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.cover_title{
  padding: 0 70px 0;
  height: 50vh;
}
.cover_title p{
  padding-top: 50px;
  font-size: 150px;
  line-height: 89.5%;
  font-weight: 500;
  margin-bottom: 18px;
}
.cover_title span{
  font-size: 85px;
  font-weight: 400;
  line-height: 89.5%;
}

.cover_center{
  height: 50vh;
  display: flex;
  font-size: 18px;
  border-top: 1px solid #000;
  padding: 0 70px 0;
}
.cover_left{
  width: 76%;
  padding: 10px 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cover_note{
  display: flex;
  gap: 150px;
}
.cover_right{
  width: 24%;
  border-left: 1px solid #000;
  padding: 10px 0 64px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cover_right p{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.cover_name{margin-bottom: 50px;}
.cover_name li, .cover_info li{margin-bottom: 16px;}
.cover_name li:first-child, .cover_info li:first-child{
  text-decoration: underline;
  font-weight: 600;
}


/* INFOMATION===================================== */
#infomation{
  background: url(../image/cover2.png)no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.info_title{
  height: 15vh;
  padding: 40px 70px 0;
  border-bottom: 1px solid #000;
}
.info_title h1{
  font-size: 85px;
  font-weight: 500;
  line-height: 89.5%;
}
.info_text{
  position: relative;
  height: 85vh;
  display: flex;
}
.info_concept{
  width: 35%;
  padding: 80px 70px 100px;
  border-right: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.info_concept h2{
  font-size: 24px;
  font-weight: 600;
  line-height: 89.5%;
  text-decoration-line: underline;
  margin-bottom: 16px;
}
.info_concept p{
  font-size: 18px;
  font-weight: 400;
  word-break: keep-all;
  margin-bottom: 18px;
}
.info_concept p:nth-of-type(3){margin-bottom: 40px;}
.info_img{
  text-align: center;
  position: relative;
}
.info_triangle{
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.info_triangle li:nth-child(1){margin-bottom: 40px;}
.info_triangle li:nth-child(2){margin-bottom: 40px;}
.info_triangle li p{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.info_triangle li span{
  font-size: 16px;
  font-weight: 400;
}

.info_con{
  width: 65%;
  padding: 80px 70px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.info_con h2{
  font-size: 50px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding-bottom: 60px;
}
.info_con h2 span{font-size: 70px;}
.info_con_inner li{
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
}
.info_con_inner li:hover{
  background: rgba(199, 202, 209, 0.15);
}
.info_con_inner li a{
  display: flex;
  align-items: center;
  position: relative;
}
.info_con_inner li:last-child{border: none;}
.info_con_inner p{
  font-size: 60px;
  font-weight: 400;
  width: 110px;
  padding: 36px 0;
}
.con_center{
  display: flex;
  flex-direction: column;
  margin-right: 120px;
}
.con_center span:first-child{
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 10px;
}
.con_center span:last-child{
  color: #767676;
  font-size: 16px;
  font-weight: 400;
}
.info_icon{
  position: absolute;
  right: 0;
  display: flex;
  gap: 10px;
}
.info_icon i{font-size: 40px;}


/* ABOUT=============================== */
#about{
  width: 100vw;
  height: 100vh;
  background-color: #FBFCFD;
  overflow: hidden;
}
#about .inner{
  width: 100%;
  height: inherit;
  gap: 100px;
}
.about_title{
  height: 15vh;
  padding: 40px 70px 0;
  border-bottom: 1px solid #000;
}
.about_title h1{
  font-size: 85px;
  font-weight: 500;
  line-height: 89.5%;
}
.about_text{
  position: relative;
  height: 85vh;
  display: flex;
  /* padding: 0 70px 0; */
}

/* about-s1 */
.about_s1{
  padding: 60px 0 0;
  border-right: 1px solid #000;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile_name{padding-left: 70px;}
.profile_name h2{
  font-size: 30px;
  margin-bottom: 22px;
  font-weight: 600;
}
.about_s1 img{
  /* width: 505px;
  height: 600px; */
  background-size: cover;
}

.profile_info{
  padding-left:70px;
}
.profile_info div{
  display: flex;
  padding-bottom: 10px;
}
.profile_info div p:nth-of-type(1){
  width: 72px;
  font-weight: 500;
}
.profile_info div p:nth-of-type(2){
  font-size: 16px;
  font-weight: 400;
  color: #767676;
}

/* about-s2 */
.about_box{
  display: flex;
  position: absolute;
  height: 100%;
  left: 500px;
  top: 50%;
  transform: translateY(-50%);
}
.about_s2, .about_s3{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 60px 0 60px;
}
.about_s2{padding-left: 160px;}
.about_s3{padding-left: 144px;}
.ab-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.ab-title h2{
  font-size: 28px;
  font-weight: 600;
}

.ab-body{
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.ab-list{display: flex;}
.ab-list p{
  color: #767676;
  font-size: 16px;
}
.abb1 .ab-list p{width: 84px;}
.abb2 .ab-list p{width: 145px;}
.ab-list h3{
  font-size: 16px;
  padding-bottom: 2px;
  font-weight: 600;
}
.ab-list h3 b{color: #FF5C00;}
.ab-list h4{
  color: #767676;
  font-size: 14px;
  font-weight: 400;
}

/* about-s3 */
.ab-body2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  color: #767676;
}
.ab-gage{
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}
.ab-gage div{
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}
.ab-gage h2{
  font-size: 14px;
  font-weight: 400;
}
.ab-gage h3{
  font-size: 12px;
  font-weight: 400;
}
.ab-gage span{
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #D9D9D9;
}
.ab-gage span b{
  position: absolute;
  left: 0;
  height: 4px;
  background-color: #FF5C00;
}
.ab-grid1 .ab-gage:nth-of-type(1) span b{width: 95%;}
.ab-grid1 .ab-gage:nth-of-type(2) span b{width: 90%;}
.ab-grid1 .ab-gage:nth-of-type(3) span b{width: 90%;}
.ab-grid1 .ab-gage:nth-of-type(4) span b{width: 70%;}
.ab-grid2 .ab-gage:nth-of-type(1) span b{width: 90%;}
.ab-grid2 .ab-gage:nth-of-type(2) span b{width: 90%;}
.ab-grid2 .ab-gage:nth-of-type(3) span b{width: 70%;}
.ab-grid2 .ab-gage:nth-of-type(4) span b{width: 65%;}

.ab-gage-icon{
  display: flex;
  flex-direction: row;
  gap: 14px;
}
.ab-gage-icon img{
  width: 35px;
  height: 35px;
}
.ab-gage-icon p{
  position: relative;
}
.ab-gage-icon p:hover::after{
  opacity: 1 !important; 
}
.ab-gage-icon p:nth-child(1)::after{
  content: 'Scss';
  position: absolute;
  color: #888;
  font-size: 14px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: .2s;
}
.ab-gage-icon p:nth-child(2)::after{
  content: 'Bootstrap';
  position: absolute;
  color: #888;
  font-size: 14px;
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: .2s;
}
.ab-gage-icon p:nth-child(3)::after{
  content: 'SVG';
  position: absolute;
  color: #888;
  font-size: 14px;
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: .2s;
}
.ab-gage-icon p:nth-child(4)::after{
  content: 'Notion';
  position: absolute;
  color: #888;
  font-size: 14px;
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: .2s;
}
.ab-gage-icon p:nth-child(5)::after{
  content: 'GitHub';
  position: absolute;
  color: #888;
  font-size: 14px;
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: .2s;
}


/* PUBLISHING===================================== */
#publishing, #responsive, #mobile, #design{
  width: 100%;
  height: 100vh;
  padding: 40px 0;
  margin-bottom: 40px;
}
.pub_inner, .mobile_inner{
  width: 100%;
  height: inherit;
}
.pub_title, .res_title, .mobile_title, .design_title{
  height: 15vh;
  padding: 40px 70px 0;
  border-bottom: 1px solid #000;
}
.pub_title h1, .res_title h1, .mobile_title h1,
.design_title h1{
  font-size: 85px;
  font-weight: 500;
  line-height: 89.5%;
}
.pub_contents, .mobile_contents{
  display: flex;
  height: 100%;
}

/* Swiper */
.pub_swiper{
  width: 65%;
  height: 80.7%;
  border-right: 1px solid #000;
}
.swiper-container{
  width: 100%;
  height: 100%;
}
.swiper-slide{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

/* 슬라이드 썸네일 배경 */
.swiper-slide.slide1{
  background: url(../image/slide1_bg.png)no-repeat center;
  background-size: cover;
}
.swiper-slide.slide2{
  background: url(../image/slide2_bg.png)no-repeat center;
  background-size: cover;
}
.swiper-slide.slide3{
  background: url(../image/slide3_bg.png)no-repeat center;
  background-size: cover;
}

/* 슬라이드 썸네일 */
.swiper-slide {
  position: relative;
}
.swiper-slide .slide_img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  overflow: hidden;
  width: 878px;
  height: 493px;
  transition: .35s;
}

.swiper-slide .slide_img:hover + .pub_shortcuts,
.swiper-slide .pub_shortcuts:hover {
  opacity: 1;
}
.pub_shortcuts{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 878px;
  height: 493px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .35s;
}
.pub_shortcuts a:hover {
  background-color: #E9E9E9;
}
.pub_shortcuts a{
  border-radius: 20px;
  background-color: #fff;
  padding: 32px 70px;
  transition: .35s;
}
.pub_shortcuts a span{
  color: #222;
  font-weight: 500;
  font-size: 24px;
}

.slide_img_long{
  width: 878px;
  height: 493px;
}
.swiper-slide.slide2 .slide_img_long{
  background: url(../image/slide2_img_long.png) top;
  background-position-y: 25px;
  background-size: cover;
  transition: 8s ease;
  transform: scale(1.1);
}
.swiper-slide.slide3 .slide_img_long{
  background: url(../image/slide3_img_long.png) top;
  background-size: cover;
  transition: 8s ease;
}
.swiper-slide .slide_img img{
  width: 878px;
  border-radius: 15px;
}
.swiper-slide:hover .slide_img{
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
}
.swiper-slide:hover .slide_img_long{background-position: bottom;}

/* 슬라이드 좌우버튼 */
.swiper-button-prev,
.swiper-button-next {
  background-color: #fff;
  opacity: 0.5;
  padding: 15px 5px;
  margin: 0 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: black !important;
  background-image: none;
}
.swiper-button-prev:hover,
.swiper-button-next:hover{opacity: 0.7;}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}

.swiper-pagination {
  position: absolute;
  bottom: 30px !important;
}
.swiper-pagination-bullet {
  background: white !important;
  margin: 0 5px !important;
}

/* 슬라이드 설명 */
.pub_desc, .mob_desc{
  width: 35%;
  height: 100%;
  padding: 60px;
  position: relative;
}
.pub_desc_inner,
.mob_desc_inner{
  width: 90%;
  height: 80%;
  position: relative;
}
.pub_desc_inner li,
.mob_desc_inner li{
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  opacity: 0;
}
.pub_desc_inner li.active,
.mob_desc_inner li.active{
  opacity: 1;
  transition: 0.5s;
}
.pub_desc_inner li h2,
.mob_desc_inner li h2,
.res_desc h2{
  font-size: 50px;
  font-weight: 500;
}
.pub_desc_inner li h3,
.mob_desc_inner li h3,
.res_desc h3{
  font-size: 18px;
  font-weight: 500;
  color: #767676;
  margin-bottom: 50px;
}
.pub_desc_center,
.mob_desc_center,
.res_desc_center{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.pub_desc_center>div,
.mob_desc_center>div,
.res_desc_center>div{
  border-bottom: 1px solid #d9d9d9;
  padding: 10px 0;
}
.pub_desc_center_row,
.mob_desc_center_row,
.res_desc_center_row{
  display: flex;
}
.pub_desc_center_row div:first-child,
.mob_desc_center_row div:first-child,
.res_desc_center_row div:first-child
{width: 50%;}
.pub_desc_center_row div:last-child,
.mob_desc_center_row div:last-child,
.res_desc_center_row div:last-child{
  border-left: 1px solid #D9D9D9;
  padding-left: 10px;
  width: 50%;
}

.pub_desc_cel_top,
.mob_desc_cel_top,
.res_desc_cel_top{
  font-size: 18px;
  font-weight: 400;
  display: flex;
  gap: 15px;
}
.pub_desc_cel_top p,
.mob_desc_cel_top p,
.res_desc_cel_top p{
  border-left: 1px solid #d9d9d9;
  padding-left: 15px;
}
.pub_desc_cel_top p:first-child,
.mob_desc_cel_top p:first-child,
.res_desc_cel_top p:first-child{
  border-left: none;
  padding-left: 0;
}
.pub_desc_cel p,
.mob_desc_cel p,
.res_desc_cel p{
  font-size: 18px;
  font-weight: 400;
  color: #767676;
  margin-bottom: 10px;
}
.pub_desc_cel span,
.mob_desc_cel span,
.res_desc_cel span{
  font-size: 18px;
  font-weight: 400;
}

/* 사이트이동 버튼 */
.pub_desc_btn,
.mob_desc_btn{
  border-radius: 10px;
  border: 1px solid #DDD;
  background: rgba(221, 221, 221, 0.5);
}
.pub_desc_btn a,
.mob_desc_btn a{
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
}
.pub_desc_btn span,
.mob_desc_btn span{
  font-size: 17px;
  font-weight: 500;
}
.pub_desc_btn:hover,
.mob_desc_btn:hover{
  background: rgba(221, 221, 221, 0.8);
}


/* RESPONSIVE WEB============================== */
#responsive{margin-bottom: 100px;}
.res_title{margin-bottom: 20px;}
.res_inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.res_content{
  margin: auto;
  width: 1426px;
  height: 624px;
}
.res_imgbox{
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  background: url(../image/responsive_bg.png) no-repeat center;
  position: relative;
}
.res_imgbox:hover .res_notice{
  opacity: 1;
}
.res_notice{
  position: absolute;
  left: 2%;
  top: 3%;
  padding: 8px 20px;
  background-color: #fff;
  border-radius: 500px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
  opacity: 0;
  transition: 0.5s;
}
.res_notice span{
  color: #767676;
}
.res_device{
  position: relative;
  width: 90%;
  height: 90%;
}
.res_device>div{
  position: absolute;
  bottom: 0;
}
.res_device>div.res_pc{
  left: 53%;
  transform: translateX(-50%);
  width: 653px;
  height: 526px;
}
.res_device>div.res_tablet{
  left: 17%;
  width: 277px;
  height: 359px;
} 
.res_device>div.res_mobile{
  right: 19%;
  width: 134px;
  height: 265px;
}

.res_device .res_pc:hover .res_pc_long,
.res_device>div.res_tablet:hover .res_tablet_long,
.res_device>div.res_mobile:hover .res_mobile_long{
  background-position: bottom;
}

/* 프레임 */
.res_pc_frame{
  background: url(../image/res_pc.png) no-repeat;
  width: 100%;
  height: 100%;
}
.res_tablet_frame{
  background: url(../image/res_tablet.png) no-repeat;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.res_mobile_frame{
  background: url(../image/res_mobile.png) no-repeat;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* 화면 백그라운드 */
.res_device>div p{
  transition: 8s;
  position: absolute;
}
.res_pc_long{
  top: 5.3%;
  transform: translateX(-50%);
  left: 50.2%;
  width: 93%;
  height: 64%;
  background: url(../image/res_pc_long.png);
  background-size: cover;
  z-index: -1;
}
.res_tablet_long{
  top: 3.6%;
  left: 50%;
  transform: translateX(-50%);
  width: 91%;
  height: 92.9%;
  background: url(../image/res_tablet_long.png);
  background-size: cover;
  /* z-index: -1; */
}
.res_mobile_long{
  width: 86.7%;
  height: 95.8%;
  border-radius: 15px;
  top: 1.5%;
  left: 50.2%;
  transform: translateX(-50%);
  background: url(../image/res_mobile_long.png);
  background-size: cover;
}

/* 반응형 설명 */
.res_desc{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  position: static;
}
.res_desc_title{
  width: 50%;
}
.res_desc_center{
  width: 50%;
}


/* MOBILE WEB=================================== */
.mob_swiper{
  width: 65%;
  height: 80.7%;
  border-left: 1px solid #000;
}
.mslide .mslide_img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 630px;
  height: 604px;
}
.mslide2 .mslide_img{
  width: 100%;
  height: 100%;
}
.mslide .mslide_img img{
  width: 303px;
  height: 604px;
}
.swiper-slide:hover .mslide_img{
  box-shadow: rgba(0, 0, 0, 0);
}

/* 모바일 백그라운드 */
.mslide.mslide1{
  background: url(../image/mslide1_bg.png) no-repeat center;
}
.mslide.mslide2{
  background: url(../image/mslide2_bg.png) no-repeat center;
  background-size: cover;
}

/* 모바일 슬라이드 설명 */
.mob_contribution span{line-height: 25px;}

.mob_desc_btns{
  display: flex;
  align-items: center;
  gap: 8px;
}


/* DESIGN========================================= */
.design_title h1{text-align: center;}
.design_tab{
  padding-top: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.tab_menu{
  display: flex;
  font-size: 55px;
  font-weight: 400;
  gap: 80px;
}
.tab_menu li{
  position: relative;
  cursor: pointer;
  color: #888;
}
.tab_menu li.tab_active{color: #000;}
.tab_menu li span{
  position: absolute;
  font-size: 30px;
}

.tab_contents>div{display: none;}
.tab_contents>div.active{display: block;}
.content_list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-bottom: 100px;
}

.content_list li{
  background-color: #fff;
  width: 320px;
  height: 320px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.content_list li p{
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: end;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  transition: all .35s;
}
.content_list li p span{
  color: #fff;
  padding: 12px 16px;
}

.content_list li:hover .tool span{opacity: 1;}
.content_list li:hover p{bottom: 0;}

/* 카드 썸네일 */
.content_list li{background-size: cover;}
.card-1-1{background: url(../image/gal-card-1.png);}
.card-1-2{background: url(../image/gal-card-2.png);}
.card-1-3{background: url(../image/gal-card-4.png);}
.card-1-4{background: url(../image/gal-card-6.png);}
.card-1-5{background: url(../image/gal-card-5.png);}
.card-1-6{background: url(../image/gal-card-3.png);}

.card-2-1{background: url(../image/gal-card-2-1.png);}
.card-2-2{background: url(../image/gal-card-2-2.png);}
.card-2-3{background: url(../image/gal-card-2-3.png);}
.card-2-4{background: url(../image/gal-card-2-4.png);}
.card-2-5{background: url(../image/gal-card-2-5.png);}
.card-2-6{background: url(../image/gal-card-2-6.png);}
.card-2-7{background: url(../image/gal-card-2-7.png);}
.card-2-8{background: url(../image/gal-card-2-8.png);}

/* 디자인툴 사진적용 */
.tool .ps{background: url(../image/tool-ps.png); background-size: cover;}
.tool .ai{background: url(../image/tool-ai.png); background-size: cover;}
.tool .fig{background: url(../image/tool-fig.png);
background-size: cover;}

.tool{
  display: flex;
  justify-content: end;
  gap: 10px;
  height: 30px;
  padding: 16px;
}
.tool span{
  height: inherit;
  width: 30px;
  border-radius: 7px;
  opacity: 0;
  transition: all .35s;
}

#popup, #popup2, #mpopup{ /*검정배경*/
	display:none; 
	position:fixed; 
	left:0; 
	top:0;
	width:100%; 
	height:100vh; 
	background:rgba(0,0,0,0.8); 
	z-index:1000;
	overflow-y:scroll; 
	/*auto로 하면 스크롤바의 폭때문에 콘텐츠와 버튼사이의 간격이 생김->버튼위치맞춤*/
}


/*각 목록별 나오는 모달팝업 내용 나오는 부분*/
.pop-body::-webkit-scrollbar {width: 7px;}
.pop-body::-webkit-scrollbar-track {background-color: #bbb;}
.pop-body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #747474;
}

.pop_body{   /*팝업내용박스*/
	position:relative;
	height:100vh;	
	margin:0 auto;
	width:1200px;
	background:#fff;
	z-index:10000;
  cursor: default;
  overflow-y: scroll;
  overflow-x: hidden;
}
.pop>li, .pop2>li, .pop>li{
	width:1200px;
	position:absolute;
	background:#fff;
	display:none;
}
.pop2>li.cover img{
  width: 1200px;
  background-size: cover;
}

/*버튼영역*/ 
/*다음이전 버튼*/
.m_btn{
	user-select: none;
  padding: 4px;
}
.m_btn>li{
  box-shadow: 0px 12px 20px -12px rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 50%;
  z-index: 10000;
	cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}
.m_btn>li i{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
.left_btn{left: 40px;}
.right_btn{right: 40px;}
.left_btn:hover, .right_btn:hover{
  filter: brightness(60%);
}

/*닫기버튼*/
.btn_close{
  position: fixed;
  top: 30px;
  right: 40px;
	padding: 4px;
	cursor:pointer;
  z-index: 100000;
  opacity: .7;
  transition: .3s;
}
.btn_close i{  /*아이콘폰트*/
	font-size: 40px;
  font-weight: 100;
  color: #fff;
}
.btn_close:hover{opacity: 1;}


.g_page{  /*Page번호*/
  position: fixed;
  top: 30px;
  left: 40px;
  font-weight: 500;
  color: #767676;
  background-color: #fff;
  padding: 9px 40px;
  border-radius: 50px;
  box-shadow: 0px 12px 20px -12px rgba(0, 0, 0, 0.6);
}
.g_page span:nth-child(1){
  color: #FF5C00;
  font-weight: 700;
  font-size: 20px;
  margin-right: 8px;
  text-align: center;
}
.g_page span:nth-child(2){
  margin-left: 6px;
}

/* Graphic Design 3번째 모달 gif */
.pop_img2-3_gif{
  position: absolute;
  bottom: 981px;
  left: 50%;
  width: 400px;
  height: 800px;
  transform: translateX(-50%);
  background: url(../image/design_pop_img2-3_gif.gif);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
}

/* 셀병합 */
.content_list li.card_section_1{
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 656px;
}
.content_list li.card_section_2{
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  width: 656px;
}
/* .content_list li.card_section_3{
  grid-row: 1 / 3;
  grid-column: 4 / 5;
  height: 656px;
}
.content_list li.card_section_4{
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  width: 656px;
} */