body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.mockup{
  //border: 1px solid #000;
  width: 420px;
  height: 750px;
  .mobile{
    position: relative;
    //border: 1px solid red;
    background: linear-gradient(151deg, rgb(153, 48, 48) 0%, rgb(255, 255, 255) 28%, rgb(255, 255, 255) 85%, rgb(255, 255, 255) 100%);
    width: 400px;
    height: 750px;
    border-radius: 35px;
    &::before{
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 390px;
      height: 740px;
      box-shadow: 0 0 5px #808080;
      border-radius: 30px;
    }
    .display{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 380px;
      height: 725px;
      //border: 1px solid #4c00ff;
      background-color: #dbdbdb;
      border-radius: 25px;
      overflow: hidden;
      .camera{
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 120px;
        height: 25px;
        //border: 1px solid #000;
        background: linear-gradient(151deg, rgba(19,19,19,1) 0%, rgba(56,56,56,1) 28%, rgba(0,0,0,1) 30%, rgba(40,40,40,1) 100%);
        border-radius: 25px;
        span{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          background-color: #444;
          border-radius: 10px;
          &:nth-child(1){
            width: 10px;
            height: 10px;
            right: 10px;
          }
          &:nth-child(2){
            right: 25px;
            width: 30px;
            height: 5px;
          }
        }
      }
      iframe{
        width: 100%;
        height: 100%;
        &::-webkit-scrollbar{
          display: none;
        }
      }
    }
    .power{
      //border: 1px solid #ff0000;
      position: absolute;
      top: 140px;
      right: 0;
      span{
        position: absolute;
        width: 3px;
        height: 80px;
        //border: 1px solid #8400ff;
        background-color: #111;
      }
    }
    .volume{
      position: absolute;
      //border: 1px solid #f10000;
      top: 100px;
      left: -5px;
      span{
        position: absolute;
        background-color: #111;
        width: 5px;
        height: 60px;
        border-radius: 3px 0 0 3px;
        &:nth-child(1){top: 100px;}
      }
    }
  }
}