body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.mockup{
  width: 1000px;
  height: 700px;
  .tablet{
    position: relative;
    //border: 1px solid red;
    width: 1000px;
    height: 700px;
    border-radius: 25px;
    background: linear-gradient(291deg, rgba(50,50,50,1) 0%, rgba(0,0,0,1) 51%, rgba(43,43,43,1) 100%);
    &::before{
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      border-radius: 25px;
      width: 995px;
      height: 695px;
      box-shadow: 0px 0px 5px #ffffff;
    }
    .display{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 970px;
      height: 670px;
      //border: 1px solid #ffc7c7;
      border-radius: 15px;
      overflow: hidden;
      iframe{
        width: 100%;
        height: 100%;
      }
      .camera{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        //border: 1px solid #000;
        background-color: #111;
        width: 25px;
        height: 170px;
        border-radius: 0 25px 25px 0;
        span{
          position: absolute;
          &:nth-child(1){
            top: 30px;
            left: 50%;
            transform: translateX(-50%);
            width: 10px;
            height: 10px;
            //border: 1px solid #3a3a3a;
            background-color: #333;
            border-radius: 50%;
          }
          &:nth-child(2){
            top: 50px;
            left: 50%;
            transform: translateX(-50%);
            width: 10px;
            height: 70px;
            background-color: #333;
            border-radius: 10px;
          }
        }
      }
    }
  }
}