body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mockup {
  width: 1000px;
  height: 700px;
}
.mockup .tablet {
  position: relative;
  width: 1000px;
  height: 700px;
  border-radius: 25px;
  background: linear-gradient(291deg, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 51%, rgb(43, 43, 43) 100%);
}
.mockup .tablet::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  width: 995px;
  height: 695px;
  box-shadow: 0px 0px 5px #ffffff;
}
.mockup .tablet .display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 970px;
  height: 670px;
  border-radius: 15px;
  overflow: hidden;
}
.mockup .tablet .display iframe {
  width: 100%;
  height: 100%;
}
.mockup .tablet .display .camera {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #111;
  width: 25px;
  height: 170px;
  border-radius: 0 25px 25px 0;
}
.mockup .tablet .display .camera span {
  position: absolute;
}
.mockup .tablet .display .camera span:nth-child(1) {
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
}
.mockup .tablet .display .camera span:nth-child(2) {
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 70px;
  background-color: #333;
  border-radius: 10px;
}