@import url(common.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Layout */

body{
  font-family: 'Noto Sans KR', sans-serif; 
  color: #fff;
}
.stop-scroll{
  height: 100%;
  overflow: hidden;
}
section{
  position: relative; /* 각 section position: relative 공통 */
  overflow: hidden;
}
.inner{
  width: 1400px;
  margin: auto;
}

/* Header */

/* Page Number */
/* Container */
#container{
  width: 100%;
  color: #fff;
}
.inner{
  margin: auto;
}

#intro{
  position: relative;
  height: 100vh;
  background-color: #000;
}
header{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}
#logo{
  width: 120px;
}


/* profile시작 */

#profile{
  height: 100vh;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(18,18,18,1) 100%);
  overflow: hidden;
  position: relative;
}
.flexInner{
  display: flex;
}
.profileLeft{
  position: relative;
  width: 400px;
  height: 100vh;
}
.profilePic{
  margin-top: 80px;
  width: inherit;
  height: 550px;
  overflow: hidden;
}
#myProfilePic{
  width: 400px;
}
.who_I_Am{
  margin-top: 40px;
}
.who_I_Am h4{
  font-size: 30px;
}
.myInfo{
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #30BAF0;
}
.contect{
  margin-top: 20px;
}

/* 프로필 우측 */
.profileRight{
  position: relative;
  width: 1000px;
  height: 100vh;
}
.myprofileText{
  position: absolute;
  top: 43%;
  transform: rotate(-90deg);
  left: -110px;
  font-size: 80px;
  color: #fff;
}
.myprofileText span{
  -webkit-text-stroke: 3px #fff;
  color: #121212;
}
.Record{
  width: 100%;
  height: 700px;
  padding-left: 150px;
  box-sizing: border-box;
  margin-top: 120px;
}
.Record p{
  color: #999999;
}
.Record_Horizen{
  display: flex;
  justify-content: space-between;
}
.Record_vertical{
  position: absolute;
  top: 260px;
}
.date{
  margin: 0 0 7px 0;
  font-size: 13px;
  color: #242424;
}
.army{
  margin-top: 20px;
}
.aboutMe{
  margin-top: 50px;
  width: 520px;
}
.RecordTitle{
  color: #30BAF0;
  font-size: 26px;
  margin-bottom: 15px;
}
.titleSkill{
  margin-top: 50px;
}
.skills{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
}
.skills li{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #255061;
  border-radius: 20px;
  height: 100px;
  width: 100px;
  transition: 0.35s;
}
.skills li:hover{
  transform: scale(1.1);
}
.insuffSkill{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.insuffSkill div{
  width: 40px;
  height: 40px;
}
.insuffSkill div img{
  width: 40px;
}
.skills li p{
  position: absolute;
  top: 105px;
}
.skills img{
  width: 50px;
}


/*퍼블리싱 작품*/
/*퍼블리싱 작품*/
/*퍼블리싱 작품*/
/*퍼블리싱 작품*/


#works{
  position: relative;
  height: 100vh;
  background-color: #121212;
}
#backImg{
  width: 100%;
  height: 100%;
}
.decoText{
  position: absolute;
  z-index: 1;
  top: 43%;
  font-weight: bold;
  left: -200px;
  font-size: 82px;
  transform: rotate(-90deg);
  color: #121212;
  -webkit-text-stroke: 3px #ffffff;
}
.view{
  position: absolute;
  z-index: 100;
  top: 60px;
  width: 1400px;
  height: 700px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 3px 4px 13px #222;
  opacity: 0;
  transition: 1s;
}
.viewBox{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
}
.viewLeftBox{
  background-color: rgba(46, 46, 46, 0.582);
  width: 400px;
  height: 700px;
}
.viewBox li{
  position: relative;
  width: 1400px;
  height: 700px;
  color: #fff;
}
.viewBox li:nth-child(1){background: url(../img/P_thumb_01.png);}
.viewBox li:nth-child(2){background: url(../img/P_thumb_02.png);}
.viewBox li:nth-child(3){background: url(../img/P_thumb_03.png);}
.viewBox li:nth-child(4){background: url(../img/P_thumb_04.png);}
.workNum{
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 84px;
  color: #fff;
}
.workNum span{
  color: #30BAF0;
}
.workTextBox{
  position: absolute;
  bottom: 50px;
  left: 40px;
}
.workTitle{
  font-size: 40px;
}
.viewMoreBox{
  display: flex;
  justify-content: space-between;
  width: 250px;
  height: 40px;
  margin-top: 20px;
}
.scrollMouse{
  position: absolute;
  top: 50px;
  right: 230px;
  font-size: 80px;
  animation: mouseScrollAni 1.5s forwards infinite ;
}
@keyframes mouseScrollAni{
  0%{}
  100%{top: 70px;}
}
.moreBtn{
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #ddd;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  color: #111;
}
.moreBtn:hover{
  background-color: #30BAF0;
  color: #fff;
}
.moreBtn a{
  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: 10px;
}
.siteBtn{
  background-color: #0F7299;
  color: #fff;
}
.viewPop{
  position: absolute;
  top: 0;
  left: 0;
  width: 1400px;
  height: 700px;
  background-color: #000000ef;
  display: none;
}
.exit{
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 40px;
  cursor: pointer;
}
.viewmorePage{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 700px;
  overflow-y: scroll; 
  color: #fff;
  line-height: 200px;
}
.viewmorePage::-webkit-scrollbar {
  width: 14px;  /* 스크롤바의 너비 */
  background-color: #111;
}
.viewmorePage::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #385b6d; /* 스크롤바의 색상 */
  border-radius: 10px;
}
.contribute{
  width: 250px;
  line-height: 30px;
  border-radius: 10px;
  background-color: #E64564;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 0px 20px ;
}

.viewBox li{
  background: url(../img/Untitled-2.png) no-repeat;
  color: #fff;
}
.arrows{
  position: absolute;
  z-index: 100;
  top: 40%;
  font-size: 70px;
  cursor: pointer;
  display: inline-block;
  color: #b9dbf0;
  transition: 0.3s;
}
.arrows:hover{
  color: #3777d6;
}
.L_arrow{
  left: 200px;
}
.R_arrow{
  right: 200px;
}
.bottombar{
  position: absolute;
  display: flex;
  bottom: 45px;
  left: 40%;
  transform: translateX(-50%);
  width: 1400px;
  height: 100px;
  border-radius: 30px;
  background-color: #86868652;
  opacity: 0;
  transition: 1.5s;
}
.bottombarIN{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  height: 100px;
}
.langRate{
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}
.langRate li{
  text-align: center;
  transition: 0.3s;
  width: 60px;
  height: 70px;
}
.langRate li:hover{
  transform: scale(1.1);
}

.langRate img{
  width: 40px;
}
.langText{
  text-align: center;
}
.webStandad{
  font-size: 20px;
  background-color: #41b7bb;
  box-shadow: 4px 4px 14px #3d9b9e;
  border-radius: 20px;
  height: 28px;
  line-height: 27px;
  padding: 7px 25px;
}
.devices{
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}
.devices span{
  font-size: 50px;
  color: #006c97;
  transition: 0.7s;
}
.devices span.active{
  color: #c1edff;
}

.deviceText{
  text-align: center;
}



#twoD_Design{
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
}
.DesignMainTextBox{
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  left: 100px;
  transition: 1.7s;
}
.DesignMainTextBox h2{
  font-size: 64px;
  color: #30BAF0;
  margin-bottom: 20px;
}
.DesignMainTextBox h2 span{
  color: #fff;
}
.hexagonBox{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 1300px;
  height: 100vh;
}
.hexagonBox_In{
  width: 1250px;
  height: 800px;
}
.hex{
  position: absolute;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-color: #fff;
  transform: rotate(90deg);
  transition: 1s;
  cursor: pointer;
  background-size: cover;
}
.hex:hover{
  transform: rotate(93deg);
}
.hexInner{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 100%;
  width: 300px;
  height: 250px;
  background-color: #00b7ffb0;
  color: #ffffff;
  text-align: center;
  transform: translateY(-50%) rotate(-90deg);
  transition: 0.3s;
}
.hex:hover .hexInner{
  left: -10%;
}
.hexagonBox .hex:nth-child(1){
  top: 350px;
  left: 50px;
  width: 250px;
  height: 210px;
  background: url(../img/hex_thumb_01.png)no-repeat center center;
}
.hexagonBox .hex:nth-child(2){
  top: 550px;
  left: 160px;
  width: 250px;
  height: 210px;
  background: url(../img/hex_thumb_02.png)no-repeat center center;
}
.hexagonBox .hex:nth-child(3){
  top: 550px;
  left: 385px;
  width: 250px;
  height: 210px;
  background: url(../img/hex_thumb_03.png)no-repeat center center;
}
.hexagonBox .hex:nth-child(4){
  top: 350px;
  left: 495px;
  width: 250px;
  height: 210px;
  background: url(../img/hex_thumb_04.png)no-repeat center center;
}
.hexagonBox .hex:nth-child(5){
  top: 410px;
  left: 340px;
  width: 120px;
  height: 100px;
  background: url(../img/backColor_logo.png)no-repeat center center;
}
.hexagonBox .hex:nth-child(6){
  top: 150px;
  left: 380px;
  width: 250px;
  height: 210px;
  background: url(../img/hex_thumb_05.png)no-repeat center center;
}
.hexagonBox .hex:nth-child(7){
  top: 350px;
  left: 720px;
  width: 250px;
  height: 210px;
  background: url(../img/hex_thumb_06.png)no-repeat center center;
}
.hexagonBox .hex:nth-child(8){
  top: 150px;
  left: 830px;
  width: 250px;
  height: 210px;
  background: url(../img/hex_thumb_07.png)no-repeat center center;
}
.hexagonBox .hex:nth-child(9){
  top: 170px;
  left: 630px;
  width: 200px;
  height: 160px;
}
.hexagonBox .hex:nth-child(10){
  top: 590px;
  left: 890px;
  width: 150px;
  height: 130px;
}

